<div id="pricing-table" class="clear">
    <div class="plan">
        <h3>MeanStack</h3>
        <a class="Choose" href="">Sign up</a>         
        <ul>
            <li>Mean stack is a powerfull
                subject
            </li>			
        </ul> 
    </div>
    <div class="plan">
        <h3>Angular</h3>
        <a class="Choose" href="">Sign up</a>         
        <ul>
            <li>Mean stack is a powerfull
                subject
            </li>			
        </ul> 
    </div>
    <div class="plan">
        <h3>Java</h3>
        <a class="Choose" href="">Sign up</a>         
        <ul>
            <li>Mean stack is a powerfull
                subject
            </li>			
        </ul> 
    </div>
    <div class="plan">
        <h3>Python</h3>
        <a class="Choose" href="">Sign up</a>         
        <ul>
            <li>Mean stack is a powerfull
                subject
            </li>			
        </ul> 
    </div> 	
</div>