<div class="Navbar" id='nav'>
    <nav class="navbar navbar-expand-md navbar-light bg-transparent fixed-top">
        <a href="#" class="navbar-brand">Learn-Era</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon navbar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">About</a>
                <a href="#" class="nav-item nav-link">Courses</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>
</div>

<script>
$(document).ready(function() {
	$(window).scroll(function() {
  	if($(document).scrollTop() > 10) {
    	$('#nav').addClass('shrink');
    }
    else {
    $('#nav').removeClass('shrink');
    }
  });
});
</script>