<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Round Navigation</title>

    <link rel="stylesheet" href="assets/demo.css">
    <link rel="stylesheet" href="assets/navigation-round.css">
    <link rel="stylesheet" href="assets/slicknav/slicknav.min.css">

</head>

<body>

<nav class="menu-navigation-round">
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">Services</a>
    <a href="#">Reach us</a>
    <a href="#" class="selected">About</a>
</nav>






<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/slicknav/jquery.slicknav.min.js"></script>

<script>

    $(function(){

        var menu = $('.menu-navigation-round');

        menu.slicknav();

        // Mark the clicked item as selected

        menu.on('click', 'a', function(){
            var a = $(this);

            a.siblings().removeClass('selected');
            a.addClass('selected');
        });
    });


</script>

</body>

</html>
