<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminService.selectedAdmin._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="adminService.selectedAdmin.name" placeholder="Enter full name" required>
                    <label>Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="skill" #name="ngModel" [(ngModel)]="adminService.selectedAdmin.skill" placeholder="Eg: Adroid Development">
                    <label>Skill :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="experience" #name="ngModel" [(ngModel)]="adminService.selectedAdmin.experience" placeholder="Enter the no of years">
                    <label>Experience :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="salary" #name="ngModel" [(ngModel)]="adminService.selectedAdmin.salary" placeholder="Salary per annum">
                    <label>Salary :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(adminForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!adminForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Skill</th>
                        <th>Experience</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let adminObj of adminService.admins">
                      <td>{{adminObj.name}}</td>
                      <td>{{adminObj.position}}</td>
                      <td>{{adminObj.office}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(adminObj)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(adminObj._id,adminForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>