<header>
        <div class="container">
          <!-- <a routerLink="/" class="logo">Learn-Era</a> -->
          <nav class="nav-section">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/course">Course</a></li>
              <li style="float:right"><a class="active" routerLink="/about">About</a>
              <li style="float:right"><a class="active" routerLink="/contact">Contact Us</a>
            </ul>
          </nav>
        </div>
      </header>

