<div class="pimg1">
  <div class="ptext">
    <div class="a">Learn Era</div>
    <div class="b">Makes you stand Apart</div>
  </div>
</div>

<!------------------------------------------------------------------------------------------------>

<section id="about" class="section-bg section section-dark sectionHeight pad">
  <div class="container">

    <header class="section-header">
      <h2>About Us</h2>
      <br>
      <p>Learn-Era is a place you can come and gain knowledge</p>
      <p>with a trainers experienced for more than 20 years</p>
      <p>and millions of courses</p>

    </header>

  </div>
</section>



<!---------------------------------------COURSES---------------------------------------------------------->




<div class="pimgClouds" id="courses">
  <div class="ptext">
    <span class="border ">
      Courses
    </span>
  </div>
</div>

<section id="services" class="section-bg section section-dark pimg2">
  <div class="container">



    <div class="row">

      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
              style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Angular</a></h4>
          <p class="description">Python is a general purpose and high level programming language. You can use Python for
            developing desktop GUI applications,
            websites and web applications. Also, Python, as a high level programming language,
            allows you to focus on core functionality of the application by taking care of common programming tasks.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
              style="color: #e98e06;"></i></div>
          <h4 class="title"><a href="">Java</a></h4>

          <p class="description">Machine learning is an application of artificial intelligence (AI)
            that provides systems the ability to automatically learn and improve from experience without being
            explicitly programmed. Machine learning focuses on the development of computer programs that can access
            data and use it learn for themselves.
          </p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
          </div>
          <h4 class="title"><a href="">Python</a></h4>
          <p class="description">The Science of Well-Being What's the point of being smart if you're still unhappy
            at the end of the day? This wildly popular course will help you understand the science of
            well-being both for intellectual interest and practical application.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline"
              style="color:#41cf2e;"></i></div>
          <h4 class="title"><a href="">UI/UX</a></h4>
          <p class="description">Bitcoin and Cryptocurrency Technologies The price of bitcoin may be way down
            but interest in the subject of the underlying technology is still sky high, if participation
            in this course is anything to go by.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i>
          </div>
          <h4 class="title"><a href="">Vue Js </a></h4>
          <p class="description">Financial Markets What's going on when the markets go up and down,
            what is the social function underlying all the craziness on CNBC,
            and what does that have to do with your career? This course promises answers.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i>
          </div>
          <h4 class="title"><a href="">C#</a></h4>
          <p class="description">Java is a widely used programming language expressly designed for use in
            the distributed environment of the internet. ... Java can be used to create complete applications
            that may run on a single computer or be distributed among servers and clients in a network.</p>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- ############################################----- SEARCH BEGIN ----############################################ -->

<section class="section section-bg section section-dark sectionHeight" id="search">
  <div class="pimgClouds" style="padding:0px 0px;">
    <div class="wowsearch">
      <!-- <p>Your Search End Here..</p> -->
      <input type="text" placeholder="Seek & find">
      <div class="search"></div>
    </div>
  </div>
</section>

<!-- ############################################----- SEARCH END ----############################################ -->



<!-- <div class="pimg1">
  <div class="ptext">
    <span class="border">
      Let's Get Started..
    </span>
  </div>
</div> -->
<!-- ############################################-----LOGIN-----################################################ -->

<div class="pimg1" id="login">
    <!-- <div class="loginptext">
        <span class="loginborder">
          Let's Get Started..
        </span>
      </div>   -->
<div class="move">
  <table>
    <tr>
      <td>
        <div class="button">
          <form action="tsignin.html">
            <input type="image" alt="Trainer" src="/assets/girluser.png" width="50%">
          </form>
        </div>
      </td>
      <td>
        <form action="lsignin.html">
          <input type="image" alt="Student" src="/assets/trainer.png" width="50%">
        </form>
      </td>


    </tr>
    <tr>
      <td>
        <div class="button">
          <button type="button" class="btn-primary"
            onclick="document.getElementById('id01').style.display='block'">User</button>
        </div>
      </td>
      <td>
        <div class="button">
          <button type="button" class="btn-primary"
            onclick="document.getElementById('id02').style.display='block'">Mentor</button>
        </div>
      </td>


    </tr>
  </table>
</div>




<!-- ---------------USER - MODAL ID01------------------------------------------- -->


<div id="id01" class="modal">
  
  <form (ngSubmit)="submit_form_data_user()" #form1="ngForm" class="modal-content animate" action="/action_page.php" method="post">
    
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Mentorname</b></label>
      <!-- <input type="text" placeholder="Enter Mentorname" name="uname" required> -->

      <input type="email" [(ngModel)]="email_id" name="uname" #email_id_ref="ngModel" required placeholder="Enter Email Id">
      



      <label for="psw"><b>Password</b></label>
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <input type="password" [(ngModel)]="pass_word" name="psw" #pass_word_ref="ngModel" required placeholder="Enter Password">
      
      <span *ngIf="email_id_ref.invalid && email_id_ref.dirty">
        <span *ngIf="email_id_ref.errors.required" class="error">E-mail Should not be empty</span>
    </span>
      <br>
      
      <span *ngIf="pass_word_ref.invalid && pass_word_ref.dirty">
        <span *ngIf="pass_word_ref.errors.required" class="error">Password Should not be empty</span>
      </span>

      <button [disabled]="!form1.form.valid" class="btn btn-success" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div>
      <h3 class="error">{{error_message}}</h3>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>



<!-- -----------------------MENTOR - MODAL ID02------------------------------------------- -->

<div id="id02" class="modal">
  
  <form (ngSubmit)="submit_form_data_mentor()" #form1="ngForm" class="modal-content animate" action="/action_page.php" method="post">
    
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Mentorname</b></label>
      <!-- <input type="text" placeholder="Enter Mentorname" name="uname" required> -->

      <input type="email" [(ngModel)]="email_id" name="uname" #email_id_ref="ngModel" required placeholder="Enter Email Id">
      



      <label for="psw"><b>Password</b></label>
      <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
        
      <input type="password" [(ngModel)]="pass_word" name="psw" #pass_word_ref="ngModel" required placeholder="Enter Password">
      
      <span *ngIf="email_id_ref.invalid && email_id_ref.dirty">
        <span *ngIf="email_id_ref.errors.required" class="error">E-mail Should not be empty</span>
    </span>
      <br>
      
      <span *ngIf="pass_word_ref.invalid && pass_word_ref.dirty">
        <span *ngIf="pass_word_ref.errors.required" class="error">Password Should not be empty</span>
      </span>

      <button [disabled]="!form1.form.valid" class="btn btn-success" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div>
      <h3 class="error">{{error_message}}</h3>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>


<!-- ----------------------------------------------SCRIPT------------------------------------------------- -->

<script>
  // Get the modal
  // var modal = document.getElementById('id01');
  // $('#myModal').on('shown.bs.modal', function () {
  //   $('#myInput').trigger('focus')
  // })
  var modal = document.getElementById('id01');
  var modal = document.getElementById('id02');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
</div>
<!-- ############################################---------################################################ -->