<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Learn-Era</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="Navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-transparent">
        <a href="#" class="navbar-brand">Learn-Era</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon navbar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">About</a>
                <a href="#" class="nav-item nav-link">Courses</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="pimg1">
    <div class="ptext">
      <span class="border">
        Learn-Era
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>Let's go from Unknown to Known </h2>
    <p>
      Let's go from Unknown to Known
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Courses
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>You can be Over-dressed but never Over-educated</h2>
    <p>
      These 
      are the 
      Courses we 
      Provide
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Let's Get Started
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>Trainer              Student</h2>
    <p>
      choose if u are a teacher or a student
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Learn-era
      </span>
    </div>
  </div>

</body>
</html>                            