<!-- 
    <h1>course List</h1>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr><th>ID</th><th>course Name</th></tr>
      <tr *ngFor = "let course of courses">
        <td>{{course._id}}</td>
        <td>{{course.course_name}}</td>

        <td><a (click) = "delete_employee(course._id)" title="Delete"><i class="glyphicon glyphicon-remove glyphicon-big" style="color:red;"></i></a></td>
        <td [routerLink] = "['/update_employee', course._id]"><a title="Update"><i class="glyphicon glyphicon-edit glyphicon-big" aria-hidden="true"></i></a></td>
      </tr>
    </table>
    </div>
    
    <div>
        <p class="red-text">{{error_message}}</p>
    </div>
   -->


   <section id="services" class="section-bg section section-dark">
    <div class="container">

      <header class="section-header">
        <h3>Most Popular Courses</h3>
        
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s" *ngFor = "let course of courses">
          <div class="box">
            <img src="{{course.course_logo}}" style="height:100px">
            <h4 class="title"><p>{{course.course_name}}</p></h4>
            <p class="description">{{course.course_desc}}</p>
            <p class="title">{{course.course_trainer}}</p>
          </div>
        </div>
        

      </div>

    </div>
  </section>