<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="./css/proj.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

    <style>
        body{
        background-image: url("https://images.unsplash.com/photo-1512425406684-952ff74cb8d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=773&q=80");
        background-size: cover; 
            }
    </style>
</head>
<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="index.html"><b>LEARNING HUB</b></a>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="home.html"><i class="fa fa-home"></i>Home</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="about_us.html"><i class="fa fa-user"></i>About Us</a>
                  </li>
                </ul>
                <div class="search">
                        <button class="btn btn-warning btn-sm" type="submit" onclick="location.href='search.html'">Search Trainer</button>
                </div>
            </nav>
<div class="text-center">
            <img src="https://i.ibb.co/MNWvMwy/kisspng-the-learning-hub-forest-gate-the-complete-cannabis-hub-5addbc7f5d0332-108650331524481151381.png" style="width: 260px">
            <h4><b style="color: white">Learning Hub</b> is an online platform for both students and teachers to share </br> their knowledge even if they are continents apart! </h4>
          </div>
            <div class="d-flex justify-content-center" style="padding-top: 1%">
              <div class="card" style="height: 300px">
                      <div class="card-body">
                        <div class="card-header">
                          <h5 style="color: white; padding-left:50px;">Do you have any queries?</h5>
                        </div>
                              <form>
                                      <div class="input-group form-group">
                                              <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                              </div>
                                              <input type="text" class="form-control" placeholder="Enter your mail id">
                                              
                                      </div>
                                      <div class="input-group form-group">
                                              <div class="input-group-prepend">
                                                      <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                                              </div>
                                              <textarea rows:"4"; cols:"50"; class="form-control" placeholder="Enter your query here." style="height: 100px"></textarea>
                                      </div>
                                      <div class="form-group">
                                              <input type="button" value="Submit" class="btn float-right login_btn" onclick="location.href='student_pg.html'">
                                      </div>
                              </form>
                      </div>

              </div>
      </div>

<div class="text-center">
            <p style="color: white; padding-top: 10px;">Contact Us At:  <a href="#" style="color: goldenrod">mail@learninghub.com</a></p> 
          </div>
        
</body>
</html>