<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>HomePage</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  	<link rel="stylesheet" href="css/vegas.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

	<link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>
	<style>
        body{
        background-image: url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
        background-size: cover; 
            }
    </style>

</head>
<body>

<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-20 col-sm-12" style="padding-bottom: 200px; padding-top: 5%;">
				<div class="home-thumb">
						<img src="https://i.ibb.co/MNWvMwy/kisspng-the-learning-hub-forest-gate-the-complete-cannabis-hub-5addbc7f5d0332-108650331524481151381.png" style="width: 260px">

					<h1>LEARNING HUB</h1>
          			<h3>Get ready to experience <strong>learning</strong> like <strong>never before</strong> !</h3>
					  <a href="home.html" class="btn btn-lg btn-default">Let's begin</a>				
				</div>
			</div>

		</div>
	</div>		
</section>



</body>
</html>