<!DOCTYPE html>
<html>

        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Document</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <link href="./css/proj.css" rel="stylesheet" />
                <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
            
                <style>
                    body{
                    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
                    background-size: cover; 
                        }
                </style>
            </head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">LEARNING HUB</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="home.html"><i class="fa fa-home"></i>Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="about_us.html"><i class="fa fa-user"></i>About Us</a>
          </li>
        </ul>
</nav>
    
</br>
</br>

    <div class="container-fluid  ">

        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 pt-3">
                <div class="form-group ">
                    <input type="text" id="textSearch" class="form-control" placeholder="Enter Technology" autofocus>
                </div>
            </div>
            

            <div class="col-md-1.5 pt-3">
                <div class="form-group">
                    <select id="timeSlot" class="form-control">
                        <option selected>Time</option>
                        <option>7am-9am</option>
                        <option>4pm-6pm</option>
                        <option>6pm-8pm</option>

                    </select>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-dark ", style="height: 35px">Find</button>
            </div>
        </div>
    </div>
</br>
</br>
    <div class="container mt-3">


        <div class="media border p-3" style="border-radius: 1rem; background:rgba(0,0,0,0.7)">


            <div class="media-body">
                <div class="row align-items-center justify-content-center" style="color: white">
                    <h6 class="col-md-2 pt-3" > <b>Mr Smith</b> </h6>
                    <span class="col-md-2 pt-3" >Avg Rating : <span>4.5</span> </span>
                    <span class="col-md-4 pt-3">No. of trainings completed : <span>12</span> </span>
                    <button  style="background-color: goldenrod;" class="btn  col-md-2">Propose Training</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container mt-3">


            <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
    
    
                <div class="media-body">
                    <div class="row align-items-center justify-content-center" style="color: white">
                        <h6 class="col-md-2 pt-3"> <b>Arya Stark</b> </h6>
                        <span class="col-md-2 pt-3">Avg Rating : <span>4.5</span> </span>
                        <span class="col-md-4 pt-3">No. of trainings completed : <span>12</span> </span>
                        <button style="background-color: goldenrod" class="btn col-md-2">Propose Training</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="container mt-3">


                <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
        
        
                    <div class="media-body">
                        <div class="row align-items-center justify-content-center" style="color: white">
                            <h6 class="col-md-2 pt-3"> <b>Marshall Erickson</b> </h6>
                            <span class="col-md-2 pt-3">Avg Rating : <span>4.5</span> </span>
                            <span class="col-md-4 pt-3">No. of trainings completed : <span>12</span> </span>
                            <button style="background-color: goldenrod" class="btn  col-md-2">Propose Training</button>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="container mt-3">


                    <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
            
            
                        <div class="media-body">
                            <div class="row align-items-center justify-content-center" style="color: white">
                                <h6 class="col-md-2 pt-3"> <b>John Doe</b> </h6>
                                <span class="col-md-2 pt-3">Avg Rating : <span>4.5</span> </span>
                                <span class="col-md-4 pt-3">No. of trainings completed : <span>12</span> </span>
                                <button style="background-color: goldenrod" class="btn  col-md-2">Propose Training</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

</body>

</html>