<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="./css/proj.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    
        <style>
            body{
            background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
            background-size: cover; 
                }
        </style>
    </head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html"><b>LEARNING HUB</b></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home.html"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user"></i> About Us</a>
            </li>
        </ul>
    </nav>


    <div style="padding-left: 600px; padding-top: 4%" >
            <input type="text" size="25" style="height: 40px;" placeholder="Enter Technology" >
            <button type="button" class="btn btn-dark">Add</button>
          </div>


    <div class="container mt-3" style="padding-top: 6%; width: 700px;" >


        <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">


            <div class="media-body">
                <div class="row align-items-center justify-content-center">
                    <h6 class="col-md-2 pt-3" style="color: white"> <b>Java</b> </h6>
                    <button class="btn btn-danger col-md-2">Delete</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-3" style="width: 700px;">


        <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">


            <div class="media-body">
                <div class="row align-items-center justify-content-center">
                    <h6 class="col-md-2 pt-3" style="color: white"> <b>MySQL</b> </h6>
                    <button class="btn btn-danger col-md-2">Delete</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-3" style="width: 700px;">


        <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">


            <div class="media-body">
                <div class="row align-items-center justify-content-center">
                    <h6 class="col-md-2 pt-3" style="color: white"> <b>Mongo DB</b> </h6>
                    <button class="btn btn-danger col-md-2">Delete</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-3" style="width: 700px;">


            <div class="media border p-3" style="border-radius: 1rem; background: rgba(0,0,0,0.7)">
    
    
                <div class="media-body">
                    <div class="row align-items-center justify-content-center">
                        <h6 class="col-md-2 pt-3" style="color: white"> <b>Express</b> </h6>
                        <button class="btn btn-danger col-md-2">Delete</button>
                    </div>
                </div>
            </div>
    
        </div>


</body>

</html>